/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;


}


body{
 $dark-bg: #1a1a2e;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

